	h1{
		color: white;
		text-align: center;
	}
	.jumbotron{
		background-image: url("images/bg2.jpg")
	}
	p{
		color: white;
		text-align: center;
	}
	.boton{
		text-align: center;
	}
	.fas {
		height: 50%;
	}
	h4, h6, h5{
		text-align: center;
	}
	.container{
		border-color: grey;
	}
	.card{
		border: 6px solid rgba(0,0,0,.125);
		width: 18rem;
	}
	.jumbotron2{
		background-color: rgba(0,0,0,.125);
	}
	.logo{
		width: 5%;
	}
	a{
		color: black;
	}
	footer{
		border: 1px solid rgba(0,0,0,.125);

	}
